html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.halloworld {
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 0 auto;
    position: relative;
    right: 5px;
    top: 7px;
}    

.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 0px;
}

.box2 {
    background-color: rgb(0, 255, 85);
    width: 200px;
    height: 200px;
    bottom: 10px;
    position: absolute;
    left: 10px;
}